.appBar {
    background-color: #2E8B57; /* Seafoam Green */
    height: auto;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    padding: 10px;
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logoImage {
    height: 100px; /* Adjust size as needed */
    width: auto;
}

.menuIcon {
    color: white;
}

.logoutButton {
    color: white;
}

.divider {
    background-color: white;
    margin: 10px 0;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usernameSection {
    display: flex;
    align-items: center;
    flex: 1;
}

.username {
    color: white;
}

.loginButton {
    background-color: #2E8B57; /* Seafoam Green */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #276f47;
}

.systemInfoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.systemInfo {
    color: white;
    text-align: right;
}

.systemInfoHealth {
    color: white;
    text-align: right;
    font-weight: bold;
}

.menu {
    .MuiPaper-root {
        background-color: #3A3B3C; /* Different background color for menu */
        color: white;
    }
}

.menuItem {
    color: white;
    background-color: #3A3B3C; /* Different background color */
    &:hover {
        background-color: #555555 ; /* Slightly lighter color on hover */
    }
}
