.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .section p, .section label {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
  }
  
  .section input[type="text"],
  .section input[type="number"],
  .section input[type="file"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    color: #333;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .buttonRed {
    background-color: #dc3545;
  }
  
  .buttonRed:hover {
    background-color: #c82333;
  }
  
  